force-app/main/default/flows/envio_test_gorilla.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>primer_test_gorilla</name>
        <label>primer test gorilla</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>Lead.enviar_test_gorilla</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>actualizar_casilla</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ya_se_le_envio_test_gorilla</name>
        <label>ya se le envio test gorilla?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>pantalla_no_tiene_test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene test</defaultConnectorLabel>
        <rules>
            <name>ya_se_envio_test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtener_candidato.Test_gorilla_enviado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ya se envio test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>envio test gorilla {!$Flow.CurrentDateTime}</interviewLabel>
    <label>envio test gorilla</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>obtener_candidato</name>
        <label>obtener candidato</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ya_se_le_envio_test_gorilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizar_casilla</name>
        <label>actualizar casilla</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Test_gorilla_enviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>pantalla_no_tiene_test</name>
        <label>pantalla no tiene test</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>primer_test_gorilla</targetReference>
        </connector>
        <fields>
            <name>pregunta_enviar_test</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Desea enviar el test gorilla a este candidato?</stringValue>
            </defaultValue>
            <fieldText>pregunta enviar test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_candidato</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
