force-app/main/default/flows/Flujo_Candidato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Correo electrónico para nuevos empleados</description>
        <name>Bienvenida_al_empleo</name>
        <label>Bienvenida al empleo</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>¡Bienvenida al equipo!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Bienvenida</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envia un correo electronico al candidato con un mensaje de agradecimiento</description>
        <name>Correo_Electronico_Agradecimiento</name>
        <label>Correo Electronico Agradecimiento</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Correo_Agradecimiento_Descarte</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Cambio_a_activo</name>
        <label>Cambio a activo</label>
        <locationX>1832</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Candidato_Descartado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Activado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_etapa</targetReference>
            </connector>
            <label>Activado</label>
        </rules>
        <rules>
            <name>Convertido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Dn0000005rYgIAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bienvenida_al_empleo</targetReference>
            </connector>
            <label>Convertido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision para identificar si el registro de candidato esta siendo Descartado</description>
        <name>Candidato_Descartado</name>
        <label>Candidato Descartado</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Descartado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>012Dn0000005rp5IAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Dn0000005rp5IAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_Electronico_Agradecimiento</targetReference>
            </connector>
            <label>Descartado</label>
        </rules>
        <rules>
            <name>Resultado_perfecto_Entrevista_Tecnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación técnica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calificacion_Tecnica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobar_entrevista</targetReference>
            </connector>
            <label>Resultado perfecto Entrevista Tecnica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_etapa</name>
        <label>Valida etapa</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Identificaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identificación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_preselecci_n</targetReference>
            </connector>
            <label>Identificación</label>
        </rules>
        <rules>
            <name>Preselecci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preselección</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_prueba_presentada</targetReference>
            </connector>
            <label>Preselección</label>
        </rules>
        <rules>
            <name>Prueba_presentada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prueba presentada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Cualificaci_n_psicot_cnica</targetReference>
            </connector>
            <label>Prueba presentada</label>
        </rules>
        <rules>
            <name>Cualificaci_n_psicot_cnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación psicotécnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Cualificaci_n_t_cnica</targetReference>
            </connector>
            <label>Cualificación psicotécnica</label>
        </rules>
        <rules>
            <name>Cualificaci_n_t_cnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación técnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Cultivaci_n</targetReference>
            </connector>
            <label>Cualificación técnica</label>
        </rules>
        <rules>
            <name>Cultivaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cultivación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Contrataci_n</targetReference>
            </connector>
            <label>Cultivación</label>
        </rules>
        <rules>
            <name>Contrataci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a_Conversi_n</targetReference>
            </connector>
            <label>Contratación</label>
        </rules>
    </decisions>
    <description>Flujo para el objeto candidato</description>
    <environments>Default</environments>
    <formulas>
        <name>IsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Activo__c})</expression>
    </formulas>
    <interviewLabel>Flujo Candidato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Candidato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>A_Contrataci_n</name>
        <label>A Contratación</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Contratación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>a_Conversi_n</name>
        <label>a Conversión</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Conversión</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>A_Cualificaci_n_psicot_cnica</name>
        <label>A Cualificación psicotécnica</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cualificación psicotécnica</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>A_Cualificaci_n_t_cnica</name>
        <label>A Cualificación técnica</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cualificación técnica</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>A_Cultivaci_n</name>
        <label>A Cultivación</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cultivación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>A_preselecci_n</name>
        <label>A preselección</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Preselección</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>A_prueba_presentada</name>
        <label>A prueba presentada</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prueba presentada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la etapa del candidato automaticamente si la calificacion de la entrevista tecnica fue de 10</description>
        <name>Aprobar_entrevista</name>
        <label>Aprobar entrevista</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cultivación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1706</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambio_a_activo</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Mensaje de bienvenida para nuevos empleados de la compañía, con información clave para el inicio de labores</description>
        <name>Bienvenida</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;img src=&quot;https://cdn.discordapp.com/attachments/1054457319536201761/1054457399018266716/Bienvenido.png&quot; alt=&quot;Bienvenida&quot;&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordial saludo {!$Record.FirstName} {!$Record.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estamos encantados de tenerte entre nosotros. ¡En nombre de todos los miembros y de la dirección, nos gustaría extender nuestra más cálida bienvenida y buenos deseos!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0.01); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Desde el día de hoy será su compañía... una compañía compuesta por personas amistosas, dispuestas y ansiosas de ayudarle a realizar eficientemente su trabajo. Le consideramos muy importante como de miembro de nuestro personal.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A continuación se le acerca información referente a su nuevo cargo:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;A partir del momento de inicio de labores serás entrenado en el dominio de la plataforma Salesforce con el objetivo de alcanzar las certificación como Administrador y Desarrollador Salesforce.&lt;/li&gt;&lt;li&gt;Su horario laboral es de Lunes a Viernes de 11 a.m a 8 p.m en la dirección Cll 30 sur #43A - 51 en el municipio de Envigado&lt;/li&gt;&lt;li&gt;La fecha de inicio de labores es: {!$Record.inicio_de_funciones__c}&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0.01); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Espero que encuentre satisfacción y alegría trabajando con nosotros.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;

&lt;img src=&quot;https://cdn.discordapp.com/attachments/1054457319536201761/1054458144983621662/imagen_20221212_093431707.png&quot; alt=&quot;We love challenges&quot;&gt;</text>
    </textTemplates>
</Flow>
